---
import { REPORTS } from "../../data/reports";

export function getStaticPaths() {
    return Object.keys(REPORTS).map((slug) => ({
        params: { slug },
    }));
}

const { slug } = Astro.params;

type ReportKey = keyof typeof REPORTS;

const report = REPORTS[slug as ReportKey];

if (!report) {
    return Astro.redirect("/");
}
---

<section class="min-h-screen bg-gray-900 text-white p-10">
    <h1 class="text-3xl font-bold mb-8">
        {report.title}
    </h1>

    <img
        src={report.image}
        alt={report.title}
        class="rounded-xl shadow-lg mb-8 max-w-4xl w-full mx-auto object-contain"
    />
    <div class="flex justify-center mt-6">
        <a href={report.pdf} download class="bg-gray-700 px-4 py-2 rounded">
            Descargar PDF
        </a>
    </div>

    <div class="w-full max-w-5xl mx-auto mt-8">
        <iframe
            src={`https://docs.google.com/gview?url=${Astro.site}${report.pdf}&embedded=true`}
            class="w-full h-[800px] rounded-lg"></iframe>
    </div>
</section>
