---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import PowerBI from "./icons/PowerBI.astro"
import SQLServer from "./icons/SQLServer.astro"
import Python from "./icons/Python.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  POWERBI: {
    name: "Power BI",
    class: "bg-[#721422] text-white",
    icon: PowerBI,
  },
  SQLSERVER: {
    name: "SQL Server",
    class: "bg-black text-white",
    icon: SQLServer,
  },
  PYTHON: {
    name: "Python",
    class: "bg-[#003159] text-white",
    icon: Python,
  },
}
const PROJECTS = [
  {
    title: "Análisis de Ventas – Adidas US",
    description:
      "Evalué ventas, rentabilidad y patrones regionales de Adidas en EE.UU. mediante Power BI, SQL y Python, identificando oportunidades de mejora y expansión estratégica a partir del comportamiento del cliente.",
    link: "https://app.powerbi.com/groups/me/reports/47584f11-b20c-4b6f-9142-c29f7d861a58/ee61dbf363ab37347ac6?experience=power-bi",
    github: "https://github.com/Dilmer-Rojas/Ventas_Adidas",
    image: "/projects/adidas_us_sales.png",
    tags: [TAGS.POWERBI, TAGS.SQLSERVER, TAGS.PYTHON],
  },
  {
    title: "Análisis Inteligente de Reseñas y Ventas de Amazon",
    description:
      "Exploré datos de productos, precios y reseñas en Amazon usando Python, SQL y Power BI. Identifiqué patrones clave sobre calificaciones, descuentos y comportamiento del consumidor, plasmados en dashboards interactivos para toma de decisiones.",
    link: "https://app.powerbi.com/groups/me/reports/47584f11-b20c-4b6f-9142-c29f7d861a58/ee61dbf363ab37347ac6?experience=power-bi",
    github: "https://github.com/Dilmer-Rojas/Amazon_Sales",
    image: "/projects/amazon_us_sales.png",
    tags: [TAGS.POWERBI, TAGS.SQLSERVER, TAGS.PYTHON],
  },
  {
    title: "AdventJS - Retos de programación con JavaScript y TypeScript",
    description:
      "Plataforma gratuita con retos de programación. Más de 1 millón de visitas en un mes. +50K retos completados. Creada desde cero con Next.js, React y Tailwind CSS.",
    link: "https://adventjs.dev",
    github: "https://github.com/Dilmer-Rojas/",
    image: "/projects/adventjs.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="ad">
      <img alt="DA" class="adsad" loading="lazy" src={image} />
    </div>
    {/* <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="DA" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div> */}
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



