---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import PowerBI from "./icons/PowerBI.astro";
import SQLServer from "./icons/SQLServer.astro";
import Python from "./icons/Python.astro";
import PDF from "./icons/Pdf.astro";
import Imaico from "./icons/ImageIcon.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  POWERBI: {
    name: "Power BI",
    class: "bg-[#721422] text-white",
    icon: PowerBI,
  },
  SQLSERVER: {
    name: "SQL Server",
    class: "bg-black text-white",
    icon: SQLServer,
  },
  PYTHON: {
    name: "Python",
    class: "bg-[#003159] text-white",
    icon: Python,
  },
};
const PROJECTS = [
  {
    title: "Análisis de Ventas – Adidas US",
    description:
      "Evalué ventas, rentabilidad y patrones regionales de Adidas en EE.UU. mediante Power BI, SQL y Python, identificando oportunidades de mejora y expansión estratégica a partir del comportamiento del cliente.",
    link: "https://app.powerbi.com/groups/me/reports/47584f11-b20c-4b6f-9142-c29f7d861a58/ee61dbf363ab37347ac6?experience=power-bi",
    github: "https://github.com/Dilmer-Rojas/Ventas_Adidas",
    report: "/reports/Adidas_Profit_Optimization.pdf",
    imagenrep: "/reports/reporte-adidas.png",
    image: "/projects/adidas_us_sales.png",
    tags: [TAGS.PYTHON, TAGS.SQLSERVER, TAGS.POWERBI],
  },
  {
    title: "Análisis de Ventas de Amazon",
    description:
      "Exploré datos de ventas de Amazon para identificar los productos y categorías más rentables, así como también los métodos de pago y ciudades más populares. La desición que se desea tomar es la mejora de las campañas de marketing según los hallazgos para aumentar las ventas y ganancias.",
    link: "https://app.powerbi.com/links/niq8G1EAXb?ctid=7b5c914e-8b14-46d8-b0aa-e6046ef73979&pbi_source=linkShare&bookmarkGuid=4dce44be-8a42-4d2f-b983-381a42cc7cbc",
    github: "https://github.com/Dilmer-Rojas/Ventas_Amazon_2025",
    image: "/projects/amazon.png",
    tags: [TAGS.PYTHON, TAGS.SQLSERVER, TAGS.POWERBI],
  },
  {
    title: "Análisis de Ventas para E-commerce (BI Consulting)",
    description:
      "Este proyecto trabaja con un dataset que simula el día a día de un e-commerce real. La idea es usar datos de ventas, clientes y productos para limpiarlos, explorarlos y transformarlos en información útil. A partir de eso, se crean reportes y dashboards que ayudan a entender el rendimiento del negocio y a tomar mejores decisiones, tal como se haría en un entorno laboral real.",
    link: "https://app.powerbi.com/links/niq8G1EAXb?ctid=7b5c914e-8b14-46d8-b0aa-e6046ef73979&pbi_source=linkShare&bookmarkGuid=4dce44be-8a42-4d2f-b983-381a42cc7cbc",
    github: "https://github.com/Dilmer-Rojas/Ventas_Amazon_2025",
    image: "/projects/BI-Ecommerce.png",
    tags: [TAGS.PYTHON, TAGS.SQLSERVER, TAGS.POWERBI],
  },
  {
    title: "Pipeline ETL y Data Warehouse con datos de Falabella Perú",
    description:
      "Realicé Web Scraping a la página de Falabella Perú, seguido de un proceso ETL (Extracción, Transformación y Carga) para almacenar los datos en un Data Warehouse optimizado para análisis.",
    github: "https://github.com/Dilmer-Rojas/Ventas_Amazon_2025",
    image: "/projects/falabella.jpeg",
    tags: [TAGS.PYTHON, TAGS.SQLSERVER],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(
      ({
        image,
        title,
        description,
        tags,
        link,
        github,
        report,
        imagenrep,
      }) => (
        <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
          <div class="w-full md:w-1/2">
            <div class="ad">
              <img alt="DA" class="adsad" loading="lazy" src={image} />
            </div>
            {/* <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="DA" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div> */}
          </div>

          <div class="w-full md:w-1/2 md:max-w-lg">
            <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
              {title}
            </h3>
            <div class="flex flex-wrap mt-2">
              <ul class="flex flex-row mb-2 gap-x-2">
                {tags.map((tag) => (
                  <li>
                    <span
                      class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                    >
                      <tag.icon class="size-4" />
                      {tag.name}
                    </span>
                  </li>
                ))}
              </ul>

              <div class="mt-2 text-gray-700 dark:text-gray-400">
                {description}
              </div>
              <footer class="flex items-end justify-start mt-4 gap-x-4">
                {github && (
                  <LinkButton href={github}>
                    <GitHub class="size-6" />
                    Code
                  </LinkButton>
                )}
                {link && (
                  <LinkButton href={link}>
                    <Link class="size-4" />
                    Preview
                  </LinkButton>
                )}
                {report && (
                  <LinkButton href={report} target="_blank" rel="noopener">
                    <PDF class="size-5" />
                    Report
                  </LinkButton>
                )}
                {imagenrep && (
                  <LinkButton href={imagenrep}>
                    <Imaico class="size-5" />
                    Imagen
                  </LinkButton>
                )}
              </footer>
            </div>
          </div>
        </article>
      ),
    )
  }
</div>
